body {margin: 0; overflow-x:hidden;}

/*Font Settings*/
h1,h2,h3,h4,h5,h6 {font-family: 'Comfortaa', cursive; letter-spacing: 2%; font-weight:700;}
p {font-family: 'Work Sans', sans-serif; font-weight: 400;}

h1 {font-size: 43pt;}
h2 {font-size: 33pt;}
h3 {font-size: 26pt;}
h4 {font-size: 20pt;}
h5 {font-size: 16pt;}
h6,p {font-size: 12pt;}
a:link {
  text-decoration: none;
  font-family: 'Work Sans', sans-serif; 
  font-weight: 400;
}

.caption {font-size: 11pt; font-family: 'Work Sans', sans-serif;}

.font-2 {font-family: 'Work Sans', sans-serif;}


/*Collor Settings*/
.palette-box {width: 70px; height: 70px;}
.pb-blue {background-color: #359EE0;}
.pb-pink {background-color: #F39B8F;}
.pb-yellow {background-color: #FFF07D;}
.pb-black {background-color: #3A2729;}

.pb-blue-02 {background-color: #AED8F3;}
.pb-pink-02 {background-color: #FDEBE9;}
.pb-yellow-02 {background-color: #FFF9CB;}
.pb-black-02 {background-color: #887D7F}


/*Button Settings*/
.btn-01 {
  color:#3A2729;
  padding: 8px 25px;
  background-color: white; 
  border: 1px solid #3A2729; 
  border-radius: 5px;
  display: inline-block;
  box-shadow: 7px 7px #359EE0;
}

.btn-01:hover{
  box-shadow: 7px 7px #3A2729;
  border-radius: 5px;
  color: white;
  background-color: #359EE0; 
  border-color: #359EE0;
  transition-duration: 0.5s;
}

.btn-02 {
  color:#3A2729;
  padding: 8px 25px;
  background-color: white; 
  border: 1px solid #3A2729; 
  border-radius: 5px;
  display: inline-block;
  box-shadow: 7px 7px #F39B8F;
}

.btn-02:hover{
  box-shadow: 7px 7px #3A2729;
  border-radius: 5px;
  color: white;
  background-color: #F39B8F; 
  border-color: #F39B8F;
  transition-duration: 0.5s;
}
.btn-03 {
  color:#3A2729;
  padding: 8px 25px;
  background-color: white; 
  border: 1px solid #3A2729; 
  border-radius: 5px;
  display: inline-block;
  box-shadow: 7px 7px #FFF07D;
}

.btn-03:hover{
  box-shadow: 7px 7px #3A2729;
  border-radius: 5px;
  color: #3A2729;
  background-color: #FFF07D; 
  border-color: #FFF07D;
  transition-duration: 0.5s;
}

.text-link {color: #359EE0; border-bottom: 3.5px solid white;}
.text-link:hover {border-bottom: 3.5px solid #359EE0;}

/*Tags Settings*/
.tag-01 {padding: 0px 10px; background-color: #AED8F3; font-size: 10pt;}
.tag-02 {padding: 0px 10px; background-color: #FDEBE9; font-size: 10pt;}
.tag-03 {padding: 0px 10px; background-color: #FFF9CB; font-size: 10pt;}