@import "branding.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  overflow-x:hidden;}

/*+++++Nav Menu #2+++++*/
.menu-bar {
  border: 1.5px solid #f39b8f;
  border-radius: 25px;
}
.menu-bar a {color: #3A2729;}

.navlogo {
  display: inline-block;
  padding-top: .45rem;
}
.navlogo h4:hover {
  color:#f39b8f;
}

.nav-menu {display: flex;}

.li-link {
  margin-top: 7px;
  margin-left: 2.5rem;
  text-decoration: none;
  height: 1.5rem;
  border-bottom: 2px solid white; 
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.li-link:hover {border-bottom: 2px solid #FFF07D;}
.fa-plus{font-size: .65em; position: absolute; margin-top: 7.5px; margin-left: 3px;}

.ddown-menu {
  margin-left: 2.5rem;
  margin-top: 13px;
  width: 209px;
  border: 1.5px solid #f39b8f;
  border-radius: 0px 0px 10px 10px;
}

.ddown-menu a {
  border-bottom: 2px solid white; 
  display: block;
}
.ddown-menu a:hover {border-bottom: 2px solid #FFF07D;}

/*
.dropdownmenu li:hover {background-color: #FFF07D;}
.dropdownmenu.show {border: 0.75px solid #f39b8f;}

.burger-menu {display: none;}

.burger-menu div {
  width:30px;
  height: 4px;
  background-color:#359EE0;
  margin: 7px;
  border-radius: 10px;
}
*/

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {
  .burger-menu {display: block;}
  .navlink {
    position:absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
  }
}
/*+++++Nav Menu #2 END+++++*/