@import "branding.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  overflow-x:hidden;}

/*+++++Nav Menu #2+++++*/
.navbar a {color: #3A2729;}

.navlogo {
  display: inline-block;
  padding: .20rem 0rem;
}
.navlogo h4:hover {
  color:#f39b8f;
}

.navlink {
  display: block;
  padding: .35rem 1rem;
  text-decoration: none;
  border-bottom: 2px solid white; 
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.navlink:hover {border-bottom: 2px solid #FFF07D;}
.fa-plus{font-size: .65em;}

.dropdown-menu li:hover {background-color: #FFF07D;}
.dropdown-menu.show {border: 0.75px solid #f39b8f;}

.nav-toggle {display: none;}
.line1, .line2, .line3 {
  height: 3px;
  width: 6px;
  background-color: #3A2729;
}

@media only screen and (max-width: 992px) {}
/*+++++Nav Menu #2 END+++++*/